body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.header {
	display: flex;
	background-color: ;
	width: 100%;
	height: 210px;
	margin: 0;
}

#head-opt {
	position: sticky;
	left: 100%;
	margin: 20px;
	display: flex;
	flex-direction: row;
}

#website_name {
	font: 100px new courier, serif;
	margin: auto;
	color: white;
	text-shadow: 4px 4px 10px black;
}

#cart {
}

#cart img {
	height: 42px;
}

#login {
	margin: 20px;
}

.button-loggin {
	border: none;
	background-color: white;
	padding: 10px 15px;
	font: 16px new courier;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.button-loggin:hover {background-color: #f1f2f6;}

#body {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

#body .left-column {
	min-width: 250px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#body .main-box {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.box {
	border-radius: 10px;
	background-color: pink;
	margin: 5px;
}

#checkbox-submit {
	font: italic 24px new courier, serif;
	padding: 10px 15px;
	width: 100%;
	border: 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#checkbox-submit:hover {background-color: #f1f2f6;}

.dropdown {
	display: inline-block;
	position: relative;
	margin: 20px;
}

.dropdown button {
	width: 150px;
	border: none;
	font: 16px new courier, serif;
	padding: 10px 15px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#main-opt {
	position: sticky;
	height:100px;
	width: 100%;
}

.sortby {
	display: none;
	position: absolute;
	background-color: white;
	width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.sortby input {
	display: block;
	border: 0;
	font: 16px new courier, serif;
	width: 100%;
}

#articles-display {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: auto;
	font: italic 18px new courier, serif;
}

.article {
	margin: 20px;
	width: 200px;
	height: 300px;
	text-align: center;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.article-name {
}

#color-form {
	margin-top: -20px;
	margin-bottom: -20px;
}

.color-opt {
	margin-left: 5px;
	margin-right: 5px;
	width: 12px;
	height: 12px;
	color: transparent;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.article img {
	width: 150px;
	height: 200px;
	margin: auto;
}

.add-to-cart {
	display: flex;
}

.add-to-cart input {
	border: none;
}

#drop {
	margin: auto 10px;
	width: 30px;
	height: 30px;
	background: transparent;
	background-image: url(../img/minus.png);
	background-size: 30px 30px;
	color: transparent;
}

.price {
	margin: auto;
}

#add {
	margin: auto 10px;
	width: 30px;
	height: 30px;
	background: transparent;
	background-image: url(../img/plus.png);
	background-size: 30px 30px;
	color: transparent;
}

.sortby input:hover {background-color: #f1f2f6;}
.dropdown:hover .sortby {display: block;}



